<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
    <PropertyGroup>
        <ApplicationRevision>0</ApplicationRevision>
        <ApplicationVersion>0.0.1.*</ApplicationVersion>
        <BootstrapperEnabled>True</BootstrapperEnabled>
        <Configuration>Release</Configuration>
        <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
        <GenerateManifests>true</GenerateManifests>
        <Install>True</Install>
        <InstallFrom>Disk</InstallFrom>
        <IsRevisionIncremented>True</IsRevisionIncremented>
        <IsWebBootstrapper>False</IsWebBootstrapper>
        <MapFileExtensions>True</MapFileExtensions>
        <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
        <Platform>arm64</Platform>
        <PublishProtocol>ClickOnce</PublishProtocol>
        <PublishReadyToRun>True</PublishReadyToRun>
        <PublishSingleFile>False</PublishSingleFile>
        <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
        <SelfContained>True</SelfContained>
        <SignatureAlgorithm>(none)</SignatureAlgorithm>
        <SignManifests>False</SignManifests>
        <SkipPublishVerification>False</SkipPublishVerification>
        <TargetFramework>net9.0-desktop</TargetFramework>
        <UpdateEnabled>True</UpdateEnabled>
        <UpdateMode>Background</UpdateMode>
        <UpdateRequired>False</UpdateRequired>
        <WebPageFileName>Publish.html</WebPageFileName>
    </PropertyGroup>
    <ItemGroup>
        <!-- This section needs to be adjusted based on the target framework -->
        <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.arm64">
            <Install>True</Install>
            <ProductName>.NET Desktop Runtime 9.0.201 (arm64)</ProductName>
        </BootstrapperPackage>
    </ItemGroup>
</Project>
